html 
{
    height: 100%;
    margin: 0;
    padding: 0;
}

body 
{
    width: 80%;
    min-width: 800px;
    max-width: 1200px;
    min-height: 100%;
    margin: 0 auto;
    box-shadow: 0 0 2px #999;
    padding: 0 45px;
    color: #333;
    font: 16px/1.333 tahoma, helvetica, arial, sans-serif;
    counter-reset: task;
}

article,
section 
{
    display: block;
}

article 
{
    padding: 0 0 50px;
}

article > h1 
{
    font-weight: 400;
}

article > h1:before 
{
    content: counter(task) '. ';
    counter-increment: task;
}

article + article,
footer
{
    border-top: 1px dashed #999;
}

h1 
{
    margin: 0;
    padding: 20px 0 15px;
    font-size: 2em;
}

h2 
{
    font-size: 1.6em;
    font-weight: 400;
    margin: 45px 0 20px;
}

ul 
{
    list-style: none;
}

ul > li:before 
{
    content: '— ';
}

footer 
{
    font-size: 1.8em;
    text-align: center;
    padding: 150px 0 200px;
}
