/* [Elememts for example] */

.text
{
    padding: 5px 20px;

    font: 14px/20px Arial, sans-serif;
}

.button
{
    margin: 20px;
    padding: 15px 20px;

    text-align: center;
    white-space: nowrap;

    font-size: 16px;
}

.button-yellow
{
    background: #ffd966;
}

.button-blue
{
    background: #68c3dd;
}

.button-green
{
    background: #56ed9d;
}

.column-yellow
{
    background: #fff3cd;
}

.column-blue
{
    background: #cdf6ff;
}

.column-green
{
    background: #cdffe0;
}

.heighter
{
    height: 3000px;
}